// fonts
@import url('https://fonts.googleapis.com/css?family=Amiri:400,400i,700|Lato:300,400,700');

/* start centering image */
@mixin center-image {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

@mixin centerImage($centerImage) {
  @if($centerImage){
    @include center-image;
  } @else {
    width: 100%;
  }
}
/* end centering image */

// reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, section {
  display: block;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Amiri";
  font-size: 16px;
  font-weight: 400;
}

img {
  display: block;
}

.quote, q {
  quotes: none;
}

.quote:before, .quote:after,
q:before, q:after {
  content: '';
  content: none;
}

h1, h2, h3, h4, h5, h6, .date {
  font-family: "Lato";
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 220%;
  line-height: 110%;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 80%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}
.col {
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

html,
body {
  height: 100%;
  position: relative;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

// variables
$desktopHD: 'screen and (min-width: 1440px)';
$desktop: 'screen and (min-width: 801px) and (max-width: 1280px)';
$desktopGeneral: 'screen and (min-width: 800px)';
$mobileGeneral: 'screen and (max-width: 800px)';
$mobile7inch: 'screen and (min-width: 600px) and (max-width: 800px)';
$mobile6inch: 'screen and (min-width: 376px) and (max-width: 599px)';
$mobile5inch: 'screen and (max-width: 375px)';

// begin
.button,
.indicator {
  border-style: solid;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Lato', Arial;
}

.button.default {
  display: inline-block;
  padding: 0.5em 1.5em;
  overflow: hidden;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-width: 1px;
}

.button.default {
  border-color: #ff0000;
  color: #ff0000;
  &:hover {
    background-color: #ff0000;
    color: #fff;
  }
  &.black {
    background-color: #000;
    border-color: #000;
    color: #fff;
    &:hover {
      background-color: #555;
      border-color: #555;
      color: #fff;
    }
  }
  &.blue {
    background-color: #0998d1;
    border-color: #0998d1;
    color: #fff;
    &:hover {
      background-color: #0886b8;
      border-color: #0886b8;
      color: #fff;
    }
  }
  &.green {
    background-color: #0fe078;
    border-color: #0fe078;
    color: #fff;
    &:hover {
      background-color: #0caf5e;
      border-color: #0caf5e;
      color: #fff;
    }
  }
  &.red {
    background-color: #ff0000;
    border-color: #ff0000;
    color: #fff;
    &:hover {
      background-color: #da0202;
      border-color: #da0202;
      color: #fff;
    }
  }
}


.tooltip-content {
  position: absolute;
  top: 0;
  word-wrap: break-word;
  background: #555;
  color: #fff;
  font: 300 12px/16px 'Lato', Arial;
  letter-spacing: 0.4px;
  border-radius: 4px;
  animation: up 0.8s ease forwards;
  width: 240px;
  padding: 1em;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    transform-origin: 0 0;
    transform: translate3d(0,60px,0);
  }
  100% {
    transform-origin: 0 0;
    transform: translate3d(0,40px,0);
  }
}


.indicator{
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  &.default {
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    border-width: 1px;
    border-color: #d8d8d8;
    &:before {
      background-color: #d8d8d8;
    }
    &.green {
      border-color: #0caf5e;
      &:before {
        background-color: #0caf5e;
      }
      & > * {
        color: #0caf5e;
      }
    }
  }
  & > * {
    color: #d8d8d8;
    line-height: 22px;
  }
}

.avatar {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 0;
  & img {
    @include centerImage(true);
    border-radius: 50%;
    border: 8px solid #ccc;
  }
}
.toolbar {
  width: 100%;
  height: 3em;
  z-index: 2;
  & > * {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.toolbar.user {
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 300;
  & .name {
    overflow-y: hidden;
    position: relative;
    text-align: right;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 28px;
      height: 28px;
      background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );  
    }
  }
}

// theme
body {
  background: #eee;
}
.dashboard.default {
  .toolbar.user {
    background: #000000;
    color: #fff;
  }

  & > .wrapper {
    nav.sidebar {
      & > .wrapper {
        background: #333;
        & a {
          color: #fff;
        }
      }
    }
  }
}


nav.sidebar {
  width: 20%;
  @media #{$desktopHD} {
    width: 15%;
  }
  & > .wrapper {
    height: 100vh;
    padding: 0 1em;
    & li {
      display: block;
      list-style: none;
      padding: 1em 0;
      border-bottom: 0.1px solid #555;
      & a {
        display: block;
        font-family: 'Lato', Arial;
        font-size: 100%;
        line-height: 180%;
        letter-spacing: 0.5px;
        padding-left: 48px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 32px;
          height: 32px;
          background-image: url(../images/sprites.png);
          background-repeat: no-repeat;
          background-size: 240px;
        }
      }
    }
    & li {
      & a {
        position: relative;
        & .tooltip-content {
          top: 0px;
        }
      }
      & a.create-post {
        &:before {
          background-position: -32px -108px;
        }
      }
      & a.list-article {
        &:before {
          background-position: -32px -206px;
        }
      }
      & a.notification {
        &:before {
          background-position: -32px -242px;
        }
        &:after {
          content: attr(data-notifications);
          width: 16px;
          height: 16px;
          text-align: center;
          font-size: 8px;
          line-height: 16px;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 20%;
          background: #ff0000;
        }
      }
      & a.user {
        &:before {
          background-position: -32px -272px;
        }
      }
      & a.log {
        &:before {
          background-position: -32px -305px;
        }
      }
      & a.comment {
        &:before {
          background-position: -32px -76px;
        }
      }
      & a.medal {
        &:before {
          background-position: -32px -142px;
        }
      }
      & a.settings {
        &:before {
          background-position: -32px -176px;
        }
      }
    }
  }
}

main {
  width: 50%;
  position: relative;
  left: 20%;
  @media #{$desktopHD} {
    width: 55%;
    left: 15%;
  }
  & > .wrapper {
    padding: 3em 0 0 2em;
    height: 100%;
    & > * {

    }
  }
}

aside {
  width: 30%;
  & > .wrapper {
    padding: 2em;
    & .control {
      & section {
        background: #fff;
        margin-bottom: 1em;
        & > .wrapper {
          padding: 1em 1em 2em 2em;
          & h5 {
            margin-bottom: 1em;
          }
          & .button {
            font-size: 12px;
          }
          & .indicator{
            position: relative;
            &:before {
              content: '';
              width: 22px;
              height: 22px;
              margin-left: -32px;
            }
            &.default {
              padding: 0.3em 1.3em 0.3em 2.3em;
            }
            & > * {
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

.recommendation {
  & .wrapper {
    margin: 1em 0 0;
    padding: 0 1em 2em;
    background: #fff;
    & a {
      text-decoration: none;
    }
  }
}
.recommendation.follow {
  & .wrapper {
    & > h2 {
      font-size: 16px;
      padding: 2em 0 0.5em;
      margin-bottom: 2em;
      border-bottom: 0.5px solid #ccc;
    }
    & li {
      display: inline-block;
      list-style: none;
      margin: 0.4em 0 0.4em;
      & > a:first-child,
      & .name,
      & > .button,
      & > p {
        display: inline-block;
      }
      & > a:first-child,
      & .name,
      & > .button {
        float: left;
      }
      & > a:first-child {
        width: 64px;
        height: 64px;
        position: relative;
        img {
          @include centerImage(false);
          border-radius: 50%;
        }
      }
      & .name {
        margin-left: 15px;
        width: 70%;
        overflow: hidden;
        & a {
          display: block;
          color: #000;
          font-size: 16px;
          margin-bottom: 0.5em;
        }
      }
      & > .button {
        margin-left: 15px;
        font-size: 12px;

      }
      & p {
        & a {
          display: block;
          font-size: 14px;
          line-height: 18px;
          color: #000;
          margin: 1em 0;
        }
      }
    }
  }
}

.feed.type-4 {
  & .wrapper {
    & .card {
      & .wrapper {
        & > h3 {
          margin-bottom: 14px;
        }
        & > h1 {
          font-size: 17px;
          letter-spacing: 0.2px;
          margin: 0.8em 0 0.4em;
        }
        & > a {
          height: 140px;
          overflow: hidden;
          & img {
            @include centerImage(false);
          }
        }
        & p {
          font-size: 14px;
          letter-spacing: 0.2px;
          line-height: 1.4em;
        }
      }
    }
  }
}

.feed.type-2 {
  & .w-50:nth-child(1) {
    width: 40%; 
    & .card {
      margin: 2em 0;
      & .wrapper {
        font-size: 0;
        & > .number {
          font-size: 24px;
          line-height: 48px;
          width: 48px;
          height: 48px;
          text-align: center;
          margin: 20px 20px 0 0;
        }
        & > * {
          display: inline-block;
          float: left;
        }
        & > .date,
        & > h3,
        & > h1 {
          width: 80%;
        }

        & > span {
          margin: 0;
          color: #777777;
          font-size: 10px;
          letter-spacing: -0.06px;
        }
        & > h3 {
          font-size: 12px;
          letter-spacing: -0.07px;
          margin-bottom: 8px;              
        }
        
        & > h1 {
          font-size: 18px;
        }
        & > a {
          overflow: hidden;
          width: 80px;
          height: 80px;
          position: absolute;
          top: 0;
          right: 0;
          & img {
            @include centerImage(false);
          }
        }
      }
    }
  }
  & .w-50:nth-child(2) {
    width: 60%;
    & .card {
      margin: 4em 0;
      padding: 0;
      & .wrapper {
        position: relative;
        & > * {
          display: inline-block;
        }
        & > .date,
        & > h3,
        & > h1 {
          width: 70%;
        }

        & > span {
          margin: 0;
          color: #777777;
          font-size: 10px;
          letter-spacing: -0.06px;
        }
        & > h3 {
          font-size: 14px;
          letter-spacing: -0.07px;
          margin-bottom: 8px;              
        }
        
        & > h1 {
          font-size: 24px;
        }
        & > a {
          overflow: hidden;
          width: 100px;
          height: 100px;
          position: absolute;
          top: 0;
          right: 0;
          & img {
            @include centerImage(false);
          }
        }
      }
    }
  }
}

.toolbar,
nav.sidebar,
aside {
  position: fixed;
  top: 0;
}

.toolbar,
nav.sidebar {
  left: 0;
}

aside {
  right: 0;
}

nav.sidebar > .wrapper,
aside > .wrapper {
  padding-top: 3em;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 16px;
  line-height: 32px;
  position: relative;
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  &#title {
    font-size: 28px;
    line-height: 54px;
    padding: 0 0 0 10px;
  }
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

#text section {
  margin: 1em 0 0.5em;
  & h5 {
   margin-bottom: 1em;
  }
}

#cover {
  color: #ccc;
  cursor: pointer;
  background: #ffffff;
  border: 2px dashed#0998d1;
  padding: 2em;
  text-align: center;
}

.dashboard section,
.dashboard aside {
  & em {
    font: italic 300 11px/22px 'Lato', Arial;
    letter-spacing: 0.5px;
  }
}

aside {
  & section {
    position: relative;
    & em {
      opacity: 0;
      position: absolute;
      transform: translate3d(0,10px,0);
    }
    & em.active {
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: all 0.5s ease;
    }
  }
}

input#tags {
  margin-bottom: 0;
}

.list-group {
  position: relative;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  & li {
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    font-size: 16px;
    font-family: 'Lato', Arial;
    list-style: none;
    padding: 0.5em 0 0.5em 10px;
  }
}

// .list-group {
//   padding-left: 0;
//   margin-bottom: 20px;
//  }
//  .list-group-item:last-child {
//   margin-bottom: 0;
//   border-bottom-right-radius: 4px;
//   border-bottom-left-radius: 4px;
//  }
//  .list-group-item:first-child {
//   border-top-left-radius: 4px;
//   border-top-right-radius: 4px;
//  }
//  .list-group-item {
//   position: relative;
//   display: block;
//   padding: 10px 15px;
//   margin-bottom: -1px;
//   background-color: #fff;
//   border: 1px solid #ddd;
//  }
//  #result {
//   position: absolute;
//   width: 100%;
//   max-width:660px;
//   cursor: pointer;
//   overflow-y: auto;
//   max-height: 400px;
//   box-sizing: border-box;
//   z-index: 1001;
//  }
//  .link-class:hover{
//   background-color:#f1f1f1;
//  }

// li.list-group-items:hover {
//   /*when hovering an item:*/
//   background-color: #e9e9e9; 
// }

// .list-group-active {
//   /*when navigating through the items using the arrow keys:*/
//   background-color: DodgerBlue !important; 
//   color: #ffffff; 
// }

.tabs {
  font-size: 0;
  margin: 0px;
  padding: 0px;
  list-style: none;
  & li {
    background: #ccc;
    color: #222;
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
  }
  & li.current{
    background: #fff;
    color: #222;
  }
}

.tab-content{
  display: none;
  background: #fff;
  padding: 15px;
  &.tab-content.current{
    display: inherit;
  }
}


/* list article */
.list-article {
  main {
    & > .wrapper {
      & > *:nth-child(1) {
        margin: 3em 0 1em;
      }
      & > nav {
        & > .wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          & > div:nth-child(1) {
            & li {
              display: inline-flex;
              font-size: 0;
              list-style: none;
              position: relative;
            }
          }
          & > div:nth-child(2) {
            & > .wrapper {
              display: flex;
              justify-content: flex-end;
              & form {
                float: left;
                width: 30%;
                & input {
                  color: #ccc;
                  font-size: 11px;
                  line-height: 100%;
                  padding: 8px 0 8px 10px;
                  &:focus {
                    color: #000;
                  }
                }
              }
              & > * {
                display: flex;
                align-items: center;
                justify-content: right;
                margin-left: 6px;
                &:nth-child(2) {
                  font-size: 11px;
                  margin:0 10px;
                }
              }
            }
          }

          & a.button.default {
            background: #fff;
            border-color: #fff;
            color: #777;
            font-size: 14px;
            &.active {
              color: #555;
            }
          }
        }
      }
      & > ul {
        & li {
          border-bottom: 1px solid #eee;
          font-size: 0;
          & > span {
            color: #ccc;
            display: inline-block;
            margin: 20px 0 0 20px;
          }
          & .author {
            color: #555;
            font-size: 14px;
            margin: 0 0 0 20px;
          }
          & > .wrapper {
            display: flex;
            align-items: center;
            & > div {
              & .title {
                line-height: 24px;
                & > a {
                  color: #000;
                  font: 700 21px 'Lato', Arial;
                  text-decoration: none;
                }
              }
            }
            & > div:nth-of-type(1) {  
              justify-content: left;
              padding: 0 2em 1em 0;
            }
            & > div:nth-of-type(2) {
              font-size: 12px;
              & .indicator{
                position: relative;
                &:before {
                  content: '';
                  width: 16px;
                  height: 16px;
                  margin-left: -22px;
                }
                &.default {
                  padding: 0.5em 1.5em 0.5em 2.5em;
                }
                & > * {
                  line-height: 16px;
                }
              }
            }
          }
      
          & .action {
            float: right;
            & a.button {
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s ease;
            }
          }
          &.active {
            & .action {
              & a.button {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease;
              }
            }
          }
        }
      }
    }
  }
}

.notification {
  main {
    font: 21px 'Lato', Arial;
    & > .wrapper {
      & > *:nth-child(1) {
        margin: 1em 0 1em;
        font-size: 28px;
        font-weight: 300;
      }
      & > ul {
        & h5 {
          font-size: 16px;
          line-height: 32px;
          margin: 2em 0 0.5em;
        }
        & li {
          & > .wrapper {
            // display: inline-block;
            display: flex;
            align-items: center;
            & > span {
              width: 20%;
            }
            & > div:nth-of-type(1) {
              width: 60%;
              & p {
                color: #666;
                font-size: 14px;
                & a {
                  margin: 0;
                  text-decoration: none;
                  &.subject {
                    color: #0886b8;
                  }
                  &.object:nth-of-type(2) {
                      color: #0caf5e;
                    }
                  &.object:nth-of-type(3) {
                    color: #000;
                    font-weight: 400;
                  }
                }
              }
            }
            & > div:nth-of-type(2) {
              width: 20%;
              & a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.settings {
  & main {
    font: 400 21px 'Lato', Arial;
    margin: 2em 0 0 0;
    & h5 {
      margin-bottom: 0.5em;
      text-align: center;
    }
    & section {
      margin: 1em 0;
    }
    & .profile {
      & section {
        &:nth-child(1) {
          & a {
            display: block;
            position: relative;
            & img {
              width: 100%;
            }
            &:hover {
              background: #000;
              position: relative;
              &:before {
                content: '';
                background-color: rgba(255,255,255,0.5);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
              }
              &:after {
                content: 'Ganti Gambar';
                position: absolute;
                top: 0;
                left: auto;
                color: #fff;
                display: block;
                text-align: center;
                background-color: #000;
                padding: 1em;
                margin: 0 auto;
              }
            }
          }
        }
        & input {
          background-color: #f7f7f7;
          color: #666;
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 1.2em;
          position: relative;
          &[type="submit"] {
            background: #0998d1;
            color: #fff;
            text-transform: uppercase;
            & {
              width: auto;
              display: block;
              margin: 0 auto;
              padding: 0.6em 1.2em;
              border-radius: 8px;
            }
          }
        }
        & .col:nth-of-type(2n+2) {
          & > .wrapper {
            padding:0 0 0 0.5em;
          }
        }
        & .col:nth-of-type(2n+1) {
          & > .wrapper {
          padding-right: 0.5em;
          }
        }
        & div:last-child {
          text-align: center;
        }
      }
    }
    & .notification {
      & section {
        & p {
          font-size: 16px;
          line-height: 32px;
        }
        & .indicator{
          position: relative;
          &:before {
            content: '';
            width: 18px;
            height: 18px;
            transform: translate3d(-40px,4px,0);
          }
          &.default {
            padding: 0.1em 1.1em 0.1em 2.1em;
            border-radius: 8px;
          }
          & > * {
            line-height: 22px;
          }
  
          &.active {
            border-color: #0caf5e;
            &:before {
              background: #0caf5e;
            }
            & span {
              color: #0caf5e;
            }
          }
          & span {
            color: #d8d8d8;
          }
        }
      }
    }
  }
}


.popup {
  // box-shadow: 0px 2px 50px -5px #777;
  // background: #fff;
  position:fixed;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  transform: scale(0.01) translate3d(-50%,-50%,0);
  transition: all 0.2s cubic-bezier(0.560, 0.185, 0.315, 1.150);
  z-index: 12;
  &.active {
    opacity: 1;
    transform: scale(1) translate3d(-50%,-50%,0);
    transition: all 0.2s cubic-bezier(0.560, 0.185, 0.315, 1.150);
    transform-origin: center center;
  }
}

.switch-tab {
  position: relative;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9;
  }
  & .popup {
    opacity: 1;
    transform: scale(1) translate3d(-50%,-50%,0);
    transition: all 0.2s cubic-bezier(0.560, 0.185, 0.315, 1.150);
    transform-origin: center center;
    width: 20%;
    height: 20%;
    z-index: 10;
    font: 400 90% 'Lato', Arial;
    color: #0998d1;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.saved {
  position: relative;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9;
  }
  & .popup {
    opacity: 1;
    transform: scale(1) translate3d(-50%,-50%,0);
    transition: all 0.2s cubic-bezier(0.560, 0.185, 0.315, 1.150);
    transform-origin: center center;
    box-shadow: none;
    width: 20%;
    height: 20%;
    z-index: 10;
    background: none;
    color: #0fe078;
    font: 700 320% 'Lato', Arial;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.list-article main,
.notification main,
.settings main {
  width: 80%;
  & > .wrapper {
    padding: 3em 2em 0 2em;
  }
}
.list-article main,
.notification main {
  & > .wrapper {
    & > ul {
      & li {
        background: #fff;
        border-bottom: 1px solid #eee;
        font-size: 0;
        list-style: none;
        & > span {
          color: #ccc;
          display: inline-block;
          margin: 20px 0 0 20px;
        }
        & .author {
          color: #555;
          font-size: 14px;
          margin: 0 0 0 20px;
        }
        & > .wrapper {
          padding: 20px;
          & > div {
            & .title {
              line-height: 24px;
              & > a {
                color: #000;
                font: 700 21px 'Lato', Arial;
                text-decoration: none;
              }
            }
          }
          & > div:nth-of-type(1) {  
            justify-content: left;
            padding: 0 2em 1em 0;
          }
          & > div:nth-of-type(2) {
            font-size: 12px;
          }
        }
    
        & .action {
          float: right;
          & a.button {
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
          }
        }
        &.active {
          & .action {
            & a.button {
              opacity: 1;
              visibility: visible;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}

.date {
  color: #555;
  font-size: 12px;
  line-height: 24px;
}